.home-navbar {
  background-color: white;
  font-family: "Gotham_SSm_5r", Helvetica, Arial, sans-serif;
  padding-bottom: 18px  ;
  padding-top: 18px;
  border-bottom: 1px solid lightgray;
  overflow: hidden;
}

.first-splashview {
  margin-top:15px;
  width: 100%;
}

.big-home-slide {
  margin-bottom: 50px;
  width: 50%;
}

.big-slide {
  padding-left: 45px;
  padding-right: 55px;
  padding-top: 25px;
  font-size: 85px;
}

.small-slide {
  padding-bottom: 5px;
  padding-left: 36px;
  padding-right: 55px;
  font-size: 20px;
  font-family: gotham, helvetica, arial, sans-serif;
  color: #b4b4b4;
  margin-top: inherit;
}

.home-logo-img {
  vertical-align: middle;
  width: 3%;
  height: 5%;
  margin-left: 5%;
}

.home-logo-text {
  vertical-align: middle;
  font-size: 1.3em;
  padding-left: 6px;
  color: #3dbe60;
  font-family: 'Crimson Text', serif;
  width: 3%;
}

.signup-message-text {
  text-align: center;
}

.signup-form-container {
  display: flex;
  justify-content: center;
}

.splash-main {
  padding-left: 24%;
  // background-color: blue;
  display: inline-flex;
  width: 71%;
  padding-top: 115px;
}

.splash-content {
  // background-color: red;
  font-family: times;
  max-width: 305px;
  margin-bottom: 140px;
  margin-left: 22px;
  margin-top: 138px;
  font-size: 17px;

}

.splash-font {
  margin-top: 46px;
  margin-right: 74px;
  background: transparent;
  font-size: 105%;
  margin-left: 25px;
  text-align: center;

}

.splash-headings {
  text-align: center;
  margin-right: 61px;
}

.splash-headings-special {
  text-align: center;
  margin-left: 45px;
}

.splash-font-special {
  text-align: center;
  margin-left: 62px;
  margin-top: 49px;
}

.linkedin-icon {
  width: 24px;
  top: 31px;
  margin-left: 16px;
  position: absolute;
}

.github-icon {
  width: 33px;
  top: 27px;
  margin-left: 48px;
  position: absolute;
}

.splash-background {
  position: relative;
  top: 70px;
  height: 617px;
  width: 100%;
  background-color: #00a82d;
  color: #fff;
}

.pattern-splash {
  background-repeat: repeat;
  width: 100%;
  height: 617px;
}