.home-navbar {
  background-color: white;
  font-family: "Gotham_SSm_5r", Helvetica, Arial, sans-serif;
  padding-bottom: 14px  ;
  padding-top: 14px;
  border-bottom: 1px solid lightgray;
  overflow: hidden;
}

.first-splashview {
  margin-top:15px;
  width: 100%;
}

.big-home-slide {
  float: left;
  margin-top: 30px;
  margin-left: 5%;
  // margin-right: 5%;
  margin-bottom: 50px;
  padding: 6px;
  padding-right: 40px;
  width: 50%;

  // transition:
}

//Meet Betternote..
.big-slide {
  padding-left: 45px;
  padding-right: 55px;
  // padding-bottom: 5px;
  // padding-top: 10px;
  font-size: 80px;
}
//Betternote helps you..
.small-slide {
  padding-bottom: 5px;
  padding-left: 36px;
  padding-right: 55px;
  font-size: 20px;
  font-family: gotham, helvetica, arial, sans-serif;
  color: #b4b4b4;
}

// navbar img
.home-logo-img {
  vertical-align: middle;
  width: 3%;
  height: 5%;
  margin-left: 3%;
}

//navbar title (BETERNOTE)
.home-logo-text {
  vertical-align: middle;
  font-size: 1.3em;
  padding-left: 6px;
  color: #3dbe60;
  font-family: 'Crimson Text', serif;
  width: 3%;
}

.signup-message-text {
  text-align: center;
}

// container
.splash-main {
  padding-left: 345px;
  // background-color: blue;
  display: inline-flex;
  width: 71%;
  padding-top: 115px;
}

// content for container
.splash-content {
  // background-color: red;
  font-family: times;
  max-width: 305px;
  margin-bottom: 140px;
  margin-left: 22px;
  margin-top: 138px;
  font-size: 17px;

}

.splash-font {
  margin-top: 46px;
  margin-right: 74px;
  background: transparent;
  font-size: 105%;
  margin-left: 25px;
  text-align: center;

}

.splash-headings {
  text-align: center;
  margin-right: 61px;
}

.splash-headings-special {
  text-align: center;
  margin-left: 45px;
}

.splash-font-special {
  text-align: center;
  margin-left: 62px;
  margin-top: 49px;
}
