.form-only {
  // max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  padding-left: 35px;
  color: #8a8a8a;
  border: 1px solid lightgray;
  border-radius: 22px;
  list-style: none;
  max-width: 350px;
  height: 350px;
  height: 443px;
  display: flex;
  flex-direction: column;
}


input {
  width: 90%;
  padding: 3%;
  margin-bottom: 12px;
  font-size: 1.04em;
  border: 1px solid #d3d3d3;
}

h3 {
  // border-bottom: 1px solid lightgray;
  font-size: 12px;
  text-align: center;
}


.animated-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  margin-bottom: 3px;
  height: 25px;
  height: 55px;
}

.or-container {
  width: 96%;
  text-align: center;
  border-bottom: 1px solid #dbdbdb;
  line-height: 0.1em;
  margin: 20px 0 30px;
}

.or-span {
  background: white;
  font-size: 14px;
  color: lightgray;
}

.demo-button {
  width: inherit;
  padding: 16px 45px;
  border-radius: 7px;
  font-size: 25px;
  letter-spacing: 1.1px;
  font-size: 16px;
  font-weight: 600;
  color: grey;
}

.demo-button:hover {
  border: 1px solid #17c955;
  color: #3cbb69;
}

.sign-up-button {
  background-color: #2dbe60;
  text-align: center;
  width: 100%;
  height: 100%;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
}

.sign-up-button:hover {
  background-color: #48db7c;
}

.create-account {
  color: white;
  font-size: 15px;
  letter-spacing: 1.1px;
  font-size: 16px;
  width: 338px;
  height: 60px;
}

.terms-services {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
  letter-spacing: .8px;
}

.privacy-policy {
text-decoration: underline;
}

.a {
  vertical-align: baseline;
  color: #888888;
  margin: 0;
  padding: 0;
  background: transparent;
}

.remember-message {
  color: #7a7a7a;
  font-size: 15px;
  position: relative;
  letter-spacing: .8px;
  margin-left: 81px;
  bottom: 34px;
}

.remember-checkbox {
  margin-left: 55px;
  top: 8px;
  position: relative;
}

.background {
  background-image: url(https://www.evernote.com/static/static_css_resources/bb6ce0ce7affff91989d4aab2ba9fa53.png);
  background-repeat: repeat;
  min-height: 100vh;
  overflow: auto;
}

.form-wrapper {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif, helvetica, arial, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.wrapper {
  max-width: 512px;
  margin: 0px auto 28px auto;
  padding: 62.12px 99px 48px;
  width: 314px;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: left;
  background-color: #ffffff;
  height: 610px;
  margin-top: -3px;
}

.google-bar {
  height: 40px;
  border-radius: 6px;
  border: solid 1px #d0d0d0;
  cursor: pointer;
  position: relative;
  z-index: 2;
  background-color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  justify-content: center;
  flex-basis: auto;
  font-size: 15px;
  color: #6a6a6a;
  max-width: 297px;
  padding-left: 13px;
}

.google-bar:hover {
  background-color: #f4f4f4;
}

.google-img {
  width: 21px;
  position: absolute;
  margin-left: 45px;
}

.row-div {
  height: 0px;
  margin-top: 9px;
  margin-bottom: -10px;
  margin-left: 0px;
}

.ever-logo {
  max-width: 110px;
}

h3 {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #dbd9d9;
  line-height: 0.1em;
  margin: 10px 0 20px;
  color: #dbd9d9;
  margin-top: 18px;
  margin-left: -1px;
}

h3 span {
  background:#fff;
  padding:0 10px;
}

.signin-button {
  width: 305px;
  color: #ffffff;
  height: 44px;
  cursor: pointer;
  background-color: #00a82d;
  border-radius: 6px;
  border-color: #00a82d;
  box-shadow: darkgrey;
  margin-left: 0px;
  margin-top: 3px;
  font-size: 15px;
}

.signin-button:hover {
  background-color: #228b22;
}

.login-heading {
  text-align: center;
  color: #333333;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif, helvetica, arial, sans-serif;
  font-style: normal;
  margin-bottom: 60px;
  margin-top: -30px;
}

.login-form {

}

.form-styling {
  width: 313px;
  position: absolute;
  margin-top: -40px;
  margin-left: 5px;
}

.login-title {
  font-size: 44px;
  font-family: -webkit-body;
  margin-top: -14px;
  margin-left: 8px;
  font-weight: bolder;
}

.login-message {
  text-align: center;
  color: #333333;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif, helvetica, arial, sans-serif;
  font-style: normal;
  margin-top: -8px;
  margin-left: 14px;
  font-weight: 100;
}

.word-underlining {
  position: absolute;
  font-size: 15px;
  font-weight: 100;
  color: #737373;
  padding-top: 27px;
  margin-left: 70px;
}

.create-account-link {
  font-size: 14px;
  color: forestgreen;
  margin-left: 99px;
  margin-top: 51px;
  position: absolute;
  font-weight: 200;
  text-decoration: none;
}

.remember-checkbox-2 {
  position: relative;
  margin-left: 41px;
  margin-top: 181px;
}

.remember-message-2 {
  font-size: 15px;
  margin-left: 68px;
  font-weight: 100;
  color: #737373;
  margin-top: -27px;
}

.reminder-password {
  font-size: 12px;
  color: #00a82d;
  padding-left: 19px;
  position: absolute;
  margin-left: 81px;
  margin-top: -10px;
}

body {
  margin: 0;
}

#nav-login-container {
  padding: 8px;
  margin-right: 8%;
  float: right;
  font-family: 'Nunito Sans', sans-serif;
  margin-top: 5px;
  border: 1.5px solid #808080;
  border-radius: 4px;
}

a#nav-login {
  padding: 10px 28px;
  font-size: 14px;
  font-family: 'Nunito Sans', sans-serif;
  text-decoration: none;
  color: grey;
}

a#nav-login-container:hover {
  border: 1px solid #17c955;
  color: #3cbb69;
}

a#demo-user {
  text-decoration: none;
  color: grey;
}
