.notebar-header-container {
  margin-left: 238px;
  min-width: 345px;
  height: 102px;
  width: 239px;
  position: absolute;
  top: 0;
  left: 3px;
  background-color: #f4f4f4;
  padding-top: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif
}

.notebar-under-title {
  left: 0px;
  min-width: 345px;
  margin-top: 84px;
  background-color: #f4f4f4;
  height: 34px;
}

.notes-count {
  font-family: monospace;
  margin-top: 76px;
  margin-left: 30px;
  color: darkgray;
  font-size: 13px;
  position: absolute;
}

.note-tag-dropdown {
  max-width: 20px;
  position: absolute;
  padding-left: 316px;
  margin-top: 74px;
}

.notebar-words {
  font-size: 20px;
  margin-top: 11px;
  margin-left: 28px;
  position: absolute;
  overflow: hidden;
  color: dimgray;
}

.notebar-title-container {
  min-width: 20px;
}

.gray-line-notebar-right {
  border-right: 1px solid #e6e6e6;
  height: 100vh;
  background-color: #f4f4f4;
}

.gray-line-notebar {
  border-top: 1px solid #e6e6e6;
  position: static;
  margin-top: -532px;
}

.individual-note {
  height: 120px;
  left: 0px;
  top: 0px;
  width: 100%;
}

.note-container {
  // padding: 15px 24px 15px 25px;
  padding: 15px 24px 75px 25px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0);
  border-bottom: 1px solid #e6e6e6;
  display: block;
  overflow: hidden;
  text-decoration: none;
}

.note-container:hover {
  background-color: #EBEBEB;
}

.note-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #333333;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 2px;
  font-weight: 500;
}

.note-date {
  color: #4d4d4d;
  margin-top: 11px;
}

.note-words-1 {
  font-size: 14px;
  font-weight: 600;
  color: #4d4d4d;
}

.note-words-2 {
  font-size: 12px;
  position: absolute;
  height: 40px;
  margin-top: 11px;
}

.note-words-3 {
  font-size: 12px;
  position: absolute;
  color: darkgrey;
  margin-top: 44px;
}
