.notebar-header-container {
  border-right: 1px solid #e6e6e6;
  overflow-y: scroll;
  height: 100vh;
  margin-left: 238px;
  min-width: 345px;
  width: 239px;
  top: 0;
  left: 3px;
  background-color: #f4f4f4;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.notebar-under-title {
  left: 0px;
  min-width: 345px;
  margin-top: 84px;
  background-color: #f4f4f4;
  height: 34px;
}

.notes-count {
  font-family: monospace;
  margin-top: 76px;
  margin-left: 30px;
  color: darkgray;
  font-size: 13px;
  position: absolute;
}

.notes-count-container {
  height: 100px;
}

.note-tag-dropdown {
  max-width: 20px;
  padding-left: 314px;
  padding-top: 99px;
  position: absolute;
}

.notebar-words {
  font-size: 20px;
  margin-top: 22px;
  margin-left: 28px;
  margin-bottom: -18px;
  overflow: hidden;
  color: dimgray;
}

.notebar-title-container {
  min-width: 343px;
  position: fixed;
  overflow: hiddn;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  transition: width 0.1s linear, border 0s linear 0.1s;
  background-color: #f4f4f4;
  margin-left: 3px;
}

.gray-line-notebar {
  border-top: 1px solid #e6e6e6;
  margin-left: 4px;
  margin-right: 0px;
  margin-top: 12px;
}

.individual-note {
  height: 120px;
  left: 0px;
  top: 0px;
  width: 100%;
}

.note-container {
  padding: 15px 19px 28px 25px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0);
  border-bottom: 1px solid #e6e6e6;
  display: block;
  overflow: hidden;
  text-decoration: none;
}

.note-container:hover {
  background-color: #EBEBEB;
}

.note-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #333333;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 2px;
  font-weight: 500;
}

.note-date {
  color: #4d4d4d;
  margin-top: 11px;
}

.note-words-1 {
  font-size: 14px;
  font-weight: 600;
  color: #4d4d4d;
}

.note-words-2 {
  font-size: 12px;
  height: 40px;
  margin-top: 11px;
}

.note-words-3 {
  font-size: 12px;
  color: darkgrey;
  margin-top: 44px;
}

.all-notes-individually {
  padding-top: 140px;
}

#note-delete-button {
  width: 15px;
  height: 15px;
}

.trash-button {
  width: 40px;
  height: 35px;
}

.quill-background {
  -webkit-box-flex: 1;
  flex-grow: 1;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: hidden;
}

.quill-footer {
  bottom: 0;
  right: 0;
  left: 584px;
  height: 65px;
  background-color: #ffffff;
  position: fixed;
  border-top: 1px solid #ececec;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.quill {
  bottom: 60px;
  position: relative;
  height: 437px;
  margin-top: 150px;
}

.quill-container {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 584px;
}

.inner-quill-footer {
  display: flex;
  position: relative;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-box-flex: 0.99;
  flex: 0.99;
}

.quill-header {
  background-color: #ffffff;
  height: 60px;
  width: 50px;

}

#add-tag {
  height: 25px;
  padding: 3px;
  padding-left: 48px;
  margin-top: 16px;
  background-color: transparent;
  border: 0px solid;
  font-size: 14px;
  font-weight: 100;
}
